# dependencies
/node_modules

# production
/build
/deploy
/.vscode
/.idea

# Cypress
cypress/logs/
cypress/coverage
/.nyc_output/


# misc
*.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn
yarn.lock
package-lock.json

firebase.json
.firebase/hosting.YnVpbGQ.cache
src/firebase.jsx

