#We use node.js libraries of tools for testing, building and automating React applications.
language: node_js

node_js:
  - 18

before_install:

#install yarn package and firebase tools.
- curl --compressed -o- -L https://yarnpkg.com/install.sh | bash
- export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
# - yarn global add firebase-tools
- npm install -g firebase-tools

#Check for the JSON files for the content.
- rm -r ./src/JSONFolder
- mkdir ./src/JSONFolder
- curl -L -o ./src/JSONFolder/HtmlTopic-EN.json "https://uottawa-my.sharepoint.com/personal/pnikb070_uottawa_ca/_layouts/15/download.aspx?share=EaBeLLZIU21Fk0H1NQu-rt4B3epY5QV5IGp1YGgSdel6cg&e=ba2WlO"
- curl -L -o ./src/JSONFolder/HtmlTopic-FR.json "https://uottawa-my.sharepoint.com/personal/pnikb070_uottawa_ca/_layouts/15/download.aspx?share=EcQwyqqroaZOlzqNmFHLBggBViVbBYzjbJi1StuXyT0Quw&e=Cqrf1t"
- curl -L -o ./src/JSONFolder/HtmlTest-FR.json "https://uottawa-my.sharepoint.com/personal/pnikb070_uottawa_ca/_layouts/15/download.aspx?share=EW7r8hNiyQlDtW4z8jDZRucBO3ctzKrt_gcSsgwzpMBeAw&e=5ABQAg"
- curl -L -o ./src/JSONFolder/HtmlTest-EN.json "https://uottawa-my.sharepoint.com/personal/pnikb070_uottawa_ca/_layouts/15/download.aspx?share=ERxhkrI_J51Isc-w9RJ9KSkBO4PhYGIfKq7fI4RkgehyVg&e=iKRyT2"
- curl -L -o ./src/JSONFolder/FilterTopic-EN.json "https://uottawa-my.sharepoint.com/personal/pnikb070_uottawa_ca/_layouts/15/download.aspx?share=EbVBKGpzNixJueAdsAH_LWQBqHwu3d72rexamKwx5sqFJw&e=NV0AnT"
- curl -L -o ./src/JSONFolder/FilterTopic-FR.json "https://uottawa-my.sharepoint.com/personal/pnikb070_uottawa_ca/_layouts/15/download.aspx?share=EfK6J-6wBvNKv54O5M5zDoYB4MJATlDg1UaamHT6rMmCCg&e=FSVZVH"

#install the dependencies (mentioned in yarn.lock file) with the right versions.
install:
- yarn install
- CI=false yarn build

#caching the modules required for node.
cache:
  directories:
  - node_modules

#deploying the web app by running commands from deploy.sh file whenever code is merged in master branch
deploy:
  skip_cleanup: true
  provider: script
  script: bash scripts/deploy.sh
  on:
    branch: 
    - master