.mainRunner {
  position: absolute;
  width: 100%;
  overflow:auto;
  background-color: inherit;
  display: block;
  height: auto;
}
 .mainRunner img{
    width: 100%;
    /*top:80%;*/
 }
.mainRunner button{
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: inherit;
  border: none !important;
  font-size:0;
  cursor: pointer;

}

 .mainRunner .femaleAorta {
     top: 32%;
     left: 49.75%;
     width: 4%;
     height: 13%;
 }

 .mainRunner .femaleBowel {
     top: 41%;
     left: 50%;
     width: 23%;
     height: 7%;
 }

 .mainRunner .breast{
     top: 29%;
     left: 43%;
     width: 10%;
     height: 7%;
 }

 .mainRunner .femaleEyes{
     top: 9.75%;
     left: 49.5%;
     width: 11%;
     height: 2.5%;
 }

 .mainRunner .femaleHeart{
     top: 25.5%;
     left: 54%;
     width: 8%;
     height: 6%;
 }

 .mainRunner .femaleBone{
     top: 65%;
     left: 56%;
     width: 8%;
     height: 8%;
 }

 .mainRunner .femaleLiver {
     top: 34.5%;
     left: 43%;
     width: 9%;
     height: 4%;
 }

 .mainRunner .femaleLungs{
     top: 25%;
     left: 50%;
     width: 23%;
     height: 8%;
 }

 .mainRunner .femalePancreas{
     top: 36%;
     left: 56%;
     width: 9%;
     height: 3%;
 }

 .mainRunner .femaleStomach{
     top: 32%;
     left: 56%;
     width: 8%;
     height: 4%;
 }

 .mainRunner .ovary{
     top: 44%;
     left: 49%;
     width: 13%;
     height: 3%;
 }

 .mainRunner .uterus{
     top: 46%;
     left: 49%;
     width: 5%;
     height: 5%;
 }

 .mainRunner .femaleGenitalia{
  top: 49.5%;
  left: 49.5%;
  width: 7%;
  height: 4%;
}

.mainRunner .maleAorta {
    top: 32%;
    left: 47.5%;
    width: 2%;
    height: 13%;
}

.mainRunner .maleBowel {
    top: 42.8%;
    left: 48%;
    width: 22%;
    height: 9%;
}

.mainRunner .maleEyes{
    top: 9.5%;
    left: 47.5%;
    width: 12%;
    height: 2%;
}

.mainRunner .maleHeart{
    top: 25.5%;
    left: 52%;
    width: 7%;
    height: 7%;
}

.mainRunner .maleBone{
    top: 65%;
    left: 55%;
    width: 10%;
    height: 10%;
}

.mainRunner .maleLiver {
    top: 35%;
    left: 41%;
    width: 10%;
    height: 3%;
}

.mainRunner .maleLungs{
    top: 25%;
    left: 48%;
    width: 25%;
    height: 10%;
}

.mainRunner .malePancreas{
    top: 36.5%;
    left: 54%;
    width: 9%;
    height: 3%;
}

.mainRunner .maleStomach{
    top: 32.9%;
    left: 54%;
    width: 9%;
    height: 4%;
}

.mainRunner .maleGenitalia{
 top: 50.2%;
 left: 47.5%;
 width: 7%;
 height: 4%;
}

.mainRunner .genitalia{
 /*content: "";
 background: grey;*/
 /*box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);*/
 /*opacity: 0.8;
 filter: blur(15px);*/
 background: grey;
 border-radius: 40px;
 top: 50%;
 left: 49.5%;
 width: 7%;
 height: 4%;
}

.mainRunner .aorta {
    top: 30%;
    left: 49.75%;
    width: 3%;
    height: 20%;
}

.mainRunner .bowel {
    top: 42%;
    left: 50%;
    width: 23%;
    height: 10%;
}

.mainRunner .eyes{
    top: 9%;
    left: 49.5%;
    width: 11%;
    height: 2.5%;
}

.mainRunner .heart{
    top: 25.5%;
    left: 53%;
    width: 11%;
    height: 6%;
}

.mainRunner .bone{
    top: 65%;
    left: 58%;
    width: 8%;
    height: 8%;
}

.mainRunner .liver {
    top: 35%;
    left: 44%;
    width: 10%;
    height: 4%;
}

.mainRunner .lungs{
    top: 22%;
    left: 47%;
    width: 23%;
    height: 8%;
}

.mainRunner .pancreas{
    top: 36.5%;
    left: 55%;
    width: 10%;
    height: 4%;
}

.mainRunner .stomach{
    top: 32%;
    left: 54%;
    width: 9%;
    height: 6%;
}


 .mainRunner .brain{
     top: 6%;
     left: 54%;
     width: 7%;
 }

 .mainRunner .exam{
     top: 12%;
     left: 64%;
     width: 7%;
 }

 .mainRunner .falls{
     top: 46%;
     left: 59%;
     width: 7%;
 }

 .mainRunner .immunization{
     top: 22%;
     left: 64%;
     width: 7%;
 }

 .mainRunner .sunExposure{
     top: 6%;
     left: 9%;
     width: 7%;
 }

 .mainRunner .covid{
     top: 12%;
     left: 31%;
     width: 14%;
 }


 .mainRunner .phyActivity{
   top: 12%;
   left: 79%;
   width: 7%;
 }
 #icons img:hover > div#organ {
    width: 3000%;
  }

 .icons img:hover {
     transform: scale(1.5, 1.5);
     transition: 0.5s;
 }

 .organ {
   width: 100%;
   position: absolute;
   left: 0px;
   /*top:1.5%;
   left:1.5%;*/
   visibility: hidden;
}

.body {
  width: 100%;
}

.img2 {
  border: 1px solid #0f0;
  position: relative;
}

.img3 {
  border: 1px solid #0f0;
  position: relative;
  /*left: 30px;*/
}
