br{
  font-size: 8px;
}

p {
  margin: 0;
}

body {
    /* font-size: 17px;*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Lato";
}

#body {
    text-decoration: none !important;
}

#topic {
  text-decoration: none !important;
}

#test {
  text-decoration: none !important;
}

/*text-align: center;*/
.App {
    position: relative;
    display: block;

    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.Logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.IC_gender {
    position: absolute;
    padding: 0px;
    background-color: transparent;
}

.imageFromFolder {
  width:100%;
  max-width: 500px;
}

.topicBody{
  margin-bottom: 12px;
  font-size: medium;
}

.instruction{
  margin: 0px;
  font-weight: 500;
}

.checkAge{
  color: red;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  display: none;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes glowing {
  /*0% { box-shadow: 0 0 -20px #c4a300; }
  40% { box-shadow: 0 0 30px #c4a300; }
  60% { box-shadow: 0 0 30px #c4a300; }
  100% { box-shadow: 0 0 -20px #c4a300; }*/
  0% { -webkit-filter: drop-shadow(0px 0px -20px #F57C00);
  filter: drop-shadow(0px 0px -20px  #F57C00); }
  40% { -webkit-filter: drop-shadow(0px 0px 30px #F57C00);
  filter: drop-shadow(0px 0px 30px #F57C00);}
  60% { -webkit-filter: drop-shadow(0px 0px 30px #F57C00);
  filter: drop-shadow(0px 0px 30px #F57C00); }
  100% { -webkit-filter: drop-shadow(0px 0px -20px #F57C00);
  filter: drop-shadow(0px 0px -20px #F57C00); }
}

@keyframes dropdown {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@-webkit-keyframes dropdown {
    from {transform : translateY(0)}
    25%  {transform : translateY(-20%)}
    50%  {transform : translateY(-20%)}
    75%  {transform : translateY(0%)}
    100% {transform : translateY(0%)}
}

.button-glow {
  animation: glowing 4s infinite;
}

.drop-down {
  -webkit-animation-name: dropdown; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: dropdown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #CCCCCC;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #808080 !important;
    text-align: center;
    width: 33.33%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black !important;
}

.topnav a.active {
  background-color: #F57C00;
  color: white !important;
}

.header {
    overflow: hidden;
    background-color: #CCCCCC;
}

/* Style the topnav links */
.header a {
    float: left;
    display: block;
    color: #808080 !important;
    text-align: center;
    width: 5%;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
  background-color: #FFFFFF/*#4CAF50*/;
  color: white;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}




#male_radio{
  margin-right:  186px;
}

#birth_male_mod{
  margin-right:  184px;
}

#female_male_mod{
  margin-right:  164px;
}


#female_radio{
  margin-right:  166px;
}

#trans_radio{
  margin-right:  118px;
}

#nb_radio{
  margin-right:  129px;
}

.gender_mod{
  margin-right: 156px;
  font-weight: lighter; 
}

.Tgender_mod{
  margin-right: 46px;
  position: relative;
  font-weight: lighter; 
  padding: 1px 2px 3px 1px;
  
}


#choose_mod{
  font-weight: 900;
}
#user_mod{
  margin-right: 213px;
}

#opt_mod{
  margin-right: 192px;
}

#pat_mod{
  margin-right: 170px;
}

#prov_mod{
  margin-right: 159px;
}


#horm_mod{
  margin-right: -64px;
  font-weight: normal;
}

#top_mod{
  margin-right: -10px;
  font-weight: normal;
}

#bott_mod{
  margin-right: -46px;
  font-weight: normal;
}

.content{
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
};

@media only screen and (max-width: 375px) {
   .content {
    text-align: center;
    background-color: green;
  }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181 !important;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.instructionModalCss {
  max-width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.searchbar{
  padding: 0px;
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}
details {
  font-size: 1.5em;
}
summary {
  font-size: 1.5em;
  font-weight: bolder; 
}
/* summary::-webkit-details-marker {
  display: none
} */
summary:after {
  border-radius: 5px;
  /* content: "+"; */
  color: #fff;
  float: right;
  font-size: 1.5em;
  margin: -5px 0px 0 0;
  padding: 0;
  text-align: center;
  width: 20px;
}
/* details[open] summary:after {
  content: "-";
} */

.userinfo-row:after {
  content: "";
  display: table;
  clear: both;
}

.userInfoStyle{
  float: left;
  cursor: pointer;
  position: relative;
  /*max-width: 160px;*/
  }

.survey-reminder {
    float: right;
    cursor: pointer;
    position: relative;
  /*max-width: 150px;*/
  }
.abc{
  margin-left: 15%;
  
}

#abcd{
  margin-right: 30px; 
  height: auto;
  width: 184px;
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b3b0b000;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@media only screen and (max-width: 291px) {
  .gender_mod{
    margin-right: 130px;
  }
}
.topicsIcon{
  max-width: 100%;
    height: auto;
    display: block;
    width: 75px;
    margin: 0 auto;
    padding: 14px 0;}
.topicicon-row{
  align-items: center;
}
svg.MuiSvgIcon-root.arrow-left {
  font-size: 31px !important;
}
@media only screen and (min-width:300px) and (max-width:850px){
  .row.topicicon-row {
    height: 35px !important;
}
.topicicon {
  width: 35% !important;
}
.topictitle {
  width: 65% !important;
  font-size: 15px !important;
}
.topicsIcon{
  width: 40px;
  padding: 0 !important;
}
}
b.boldtext{
  font-size: 20px;
}
mark.texthighlight {
  background-color: yellow !important;
}
svg.MuiSvgIcon-root.arrow-left {
  background-color: #27aae1;
  border-radius: 5px;
  margin: 0 8px;
}