.button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
  background-color: #F57C00;
  border-radius: 5px;
  position:absolute;
  /*transition: .5s ease;*/
  right: 50%;
  bottom: 50%;
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
}

.button2 {

  /*background-color: #BCDBEA;*/
  background: #808080;
  background-image: -webkit-linear-gradient(top, #F0F0F0, #808080);
  background-image: -moz-linear-gradient(top, #F0F0F0, #808080);
  background-image: -ms-linear-gradient(top, #F0F0F0, #808080);
  background-image: -o-linear-gradient(top, #F0F0F0, #808080);
  background-image: linear-gradient(to bottom, #F0F0F0, #808080);
  border-radius: 50%;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  position: absolute;
  transition: 0.5s ease;
  right: 0%;
  top: 0%;
}

.button3 {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #F57C00;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.button4{
  position: relative;
  /*margin-right: 2px;*/
  margin-top: -8px;
  /*top: 1%;
  right: 1%;*/
  color: white;
  float: right;
  border-radius: 50%;
  background-color:rgb(14, 145, 200);
  font-size: 15px;
}

.buttonAgreeToTerms{
  margin-top: 18px;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.landingButtons{
  text-align: center;
  position: relative;
  width: 100%;
  overflow:auto;
  background-color: white;
  display: block;
  height: auto;
}

.videoButton{
  position: relative;
  text-align: center;
  background-color: #e7f120;
  border-color: #d7df21;
  color: rgb(14, 145, 200);
  text-shadow: black;
  border-radius: 14px;
  font-weight: bold;
  height: 32px;
  overflow: hidden;
  width: min-content;
  font-size: 12px;
  }


.langLandButtonStyle{
  background-color: #0a99ecc9;
  border-color: #0a99ecc9;
  font-size: larger;
  font-weight: bolder;
  color: #F0F0F0;
  padding: 10px 15px 10px 15px;
  margin: 5px 20px 5px 10px;
  border-radius: 25px;
  width: 80px;
  height: 45px ;
}
