body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

a {
  text-decoration: none;
  color: #25AAE1;
}

a:hover, a:focus, a:active, a:focus-visible {
  color: #D7DF21;
}

.text-brand-blue {
  color: #25AAE1;
}

.text-brand-green {
  color: #D7DF21;
}

.icon-brand-color {
  color: #25AAE1;
}

#termsButton .icon-brand-color {
  color: white; 
}

#termsButton .icon-brand-color:hover, .icon-brand-color:focus, .icon-brand-color:active {
  color: #D7DF21;
}

.icon-brand-color:hover, .icon-brand-color:focus, .icon-brand-color:active {
  color: #D7DF21;
}

.btn {
  padding: 8px 16px !important;
  border-radius: 12px !important;
  font-size: calc( 14px + (24 - 14) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(18px + (28 - 18) * (100vw - 320px) / (1920 - 320)) !important;
}


.btn-primary {
  background: #D7DF21 !important;
  border-color: #D7DF21 !important;
  color: #000000 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: rgba(215, 223, 33, 0.5) !important;
  border-color: #D7DF21 !important;
  color: #000000 !important;
  box-shadow: 0 0 !important;
}

/* secondary button is in blue theme, that transitions to green color when hovered */
.btn-secondary {
  background: #25AAE1 !important;
  border-color: #25AAE1 !important;
  color: white !important;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background: #D7DF21 !important;
  border-color: #D7DF21  !important;
  color: #000000 !important;
  box-shadow: 0 0 !important;
}

.btn-outline-primary {
  border: 1.5px solid rgba(215, 223, 33) !important;
  color: #D7DF21 !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  border: 1.5px solid rgba(215, 223, 33, 0.6) !important;
  color: rgba(215, 223, 33, 0.6) !important;
}

.btn-link {
  padding: 0px 5px !important;
  color: #D7DF21 !important;
  border-radius: 15px !important;
  font-weight: 500 !important;
  border: none !important;
}

.btn-link:hover .btn-link:active, .btn-link:focus{
  color: rgba(215, 223, 33) !important;
}

.font-icon {
  font-size: calc( 18px + (26 - 18) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(22px + (20 - 22) * (100vw - 320px) / (1920 - 320)) !important;
}
.font-input {
  font-size: calc( 14px + (24 - 14) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(16px + (28 - 16) * (100vw - 320px) / (1920 - 320)) !important;
}

.font-input-lg {
  font-size: calc( 18px + (20 - 18) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(24px + (26 - 24) * (100vw - 300px) / (1920 - 320)) !important;
}

.font-title {
  font-size: calc( 36px + (54 - 36) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(40px + (58 - 40) * (100vw - 300px) / (1920 - 320)) !important;
}
.font-heading {
  font-size: calc( 24px + (32 - 24) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(24px + (28 - 24) * (100vw - 300px) / (1920 - 320)) !important;
}
.font-subHeading {
  font-size: calc( 18px + (20 - 18) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(24px + (26 - 24) * (100vw - 300px) / (1920 - 320)) !important;
}
.font-description {
  font-size: calc( 16px + (18 - 16) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(20px + (22 - 20) * (100vw - 300px) / (1920 - 320)) !important;
}
.footer-text {
  font-size: calc( 14px + (18 - 14) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(18px + (20 - 18) * (100vw - 320px) / (1920 - 320)) !important;
}

.font-link {
  font-size: calc( 16px + (18 - 16) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(20px + (22 - 20) * (100vw - 300px) / (1920 - 320)) !important;
}

.copywrite {
  font-size: calc( 14px + (15 - 14) * (100vw - 320px) / (1920 - 320) ) !important;
  line-height: calc(18px + (19 - 18) * (100vw - 320px) / (1920 - 320)) !important;
}

.slick-next {
  right: 25px !important;
}

.slick-next::before {
  color:black !important;
}
.slick-next:hover::before {
  color:#25AAE1 !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 4;
}

.slick-prev::before {
  color:black !important;
}
.slick-prev:hover::before {
  color:#25AAE1 !important;
}

.slick-dots {
  bottom: 2vh !important;
}

.slick-dots li button::before {
  color: #25AAE1 !important;
  font-size: 15px !important;
  text-shadow: -1px 1px 0 white,
                          1px 1px 0 white,
                         1px -1px 0 white,
                        -1px -1px 0 white;
  position: relative !important;
  display : block !important;
}

.slick-dots .slick-active button::before {
  color: white !important;
}