body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0089b5;
}

a:hover,
a:focus,
a:active,
a:focus-visible {
  color: #d7df21;
}

.text-brand-blue {
  color: #0089b5;
}

.text-brand-green {
  color: #d7df21;
}

.icon-brand-color {
  color: #0089b5;
}

#termsButton .icon-brand-color {
  color: white;
}

#termsButton .icon-brand-color:hover,
.icon-brand-color:focus,
.icon-brand-color:active {
  color: #f57c00 !important;
}

.btn {
  padding: 8px 16px !important;
  border-radius: 12px !important;
  font-size: calc(14px + (24 - 14) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    18px + (28 - 18) * (100vw - 320px) / (1920 - 320)
  ) !important;
}

.btn-primary {
  background: #d7df21;
  border-color: #d7df21;
  color: #0089b5;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: rgba(215, 223, 33, 0.5);
  border-color: #d7df21;
  color: #000000;
  box-shadow: 0 0;
}

/* secondary button is in blue theme, that transitions to green color when hovered */
.btn-secondary {
  background: #f57c00 !important;
  border-color: #f57c00 !important;
  color: white !important;
}

.btn-primary-get-started {
  color: #0089ab;
  background: #d7df21 !important;
  border-color: #d7df21 !important;
}

.btn-primary-get-started:hover {
  color: #0089ab;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background: #f57c00 !important;
  border-color: #f57c00 !important;
  color: #000000 !important;
  box-shadow: 0 0 !important;
}

.btn-outline-primary {
  border: 1.5px solid rgba(215, 223, 33) !important;
  color: #d7df21 !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  border: 1.5px solid rgba(215, 223, 33, 0.6) !important;
  color: rgba(215, 223, 33, 0.6) !important;
}

.btn-link {
  padding: 0px 5px !important;
  color: #d7df21 !important;
  border-radius: 15px !important;
  font-weight: 500 !important;
  border: none !important;
}

.btn-link:hover .btn-link:active,
.btn-link:focus {
  color: rgba(215, 223, 33) !important;
}

.font-icon {
  font-size: calc(18px + (26 - 18) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    22px + (20 - 22) * (100vw - 320px) / (1920 - 320)
  ) !important;
}
.font-input {
  font-size: calc(14px + (24 - 14) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    16px + (28 - 16) * (100vw - 320px) / (1920 - 320)
  ) !important;
}

.font-input-lg {
  font-size: calc(18px + (20 - 18) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    24px + (26 - 24) * (100vw - 300px) / (1920 - 320)
  ) !important;
}

.font-title {
  font-size: calc(36px + (54 - 36) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    40px + (58 - 40) * (100vw - 300px) / (1920 - 320)
  ) !important;
}
.font-heading {
  font-size: calc(24px + (32 - 24) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    24px + (28 - 24) * (100vw - 300px) / (1920 - 320)
  ) !important;
}
.font-subHeading {
  font-size: calc(18px + (20 - 18) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    24px + (26 - 24) * (100vw - 300px) / (1920 - 320)
  ) !important;
}
.font-description {
  font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    20px + (22 - 20) * (100vw - 300px) / (1920 - 320)
  ) !important;
}
.footer-text {
  font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    18px + (20 - 18) * (100vw - 320px) / (1920 - 320)
  ) !important;
}

.font-link {
  font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    20px + (22 - 20) * (100vw - 300px) / (1920 - 320)
  ) !important;
}

.copywrite {
  font-size: calc(14px + (15 - 14) * (100vw - 320px) / (1920 - 320)) !important;
  line-height: calc(
    18px + (19 - 18) * (100vw - 320px) / (1920 - 320)
  ) !important;
}

.slick-next {
  right: 25px !important;
}

.slick-next::before {
  color: black !important;
}
.slick-next:hover::before {
  color: #0089b5 !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 4;
}

.slick-prev::before {
  color: black !important;
}
.slick-prev:hover::before {
  color: #0089b5 !important;
}

.slick-dots {
  bottom: 2vh !important;
}

.slick-dots li button::before {
  color: #0089b5 !important;
  font-size: 15px !important;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
  position: relative !important;
  display: block !important;
}

.slick-dots .slick-active button::before {
  color: white !important;
}
