/* Desktop / PC / Laptop */

.landing-page {
  position: relative;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

/* Green-grey logo */
.landing-logo {
  position: relative;
  width: 55px;
  height:  57px;
  left: 16px;
  top: 10px;
  float: left;
}

/* choix sante */
.landing-button-img-fr{
  position: relative;
  width: 150px;
  height: 32px;
  top: 10px;
  float: 10px;
  }
 
/* icanbewell */
.landing-button-img-en{
  position: absolute;
  width: 150px;
  height: 32px;
  float: left;
  top: 40px;
  }

/* EN */  
.landing-button-EN{
  position: absolute;
  width: 75px;
  height: 20px;
  right: 200px;
  top: 40px;
  cursor: pointer;

  font-family:'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 60px;
  color: #000000;
  }

  .landing-page-line{
    position: absolute;
    width: 75px;
    height: 20px;
    right: 150px;
    top: 40px;
    cursor: pointer;
  
    font-family:'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 60px;
    color: #000000;
  }

  .landing-lang-switch{
    width: fit-content;
    position: absolute;
    float: right;
    right: 50px;
    top: 35px;
    font-family: Arial, sans-serif;
    font-size: 15px;
  }
 
  .landing-english-en{
    font-weight: 700;
  }

  a:hover {
    cursor: pointer;
  }

/* .landing-button-EN::after {
  content: "";
  display: block;
  position: relative;
  right: 0px;
  border-right: 3px solid #25AAE1;
  height: 180%;
  top: -26px;
} */


/* FR */
.landing-button-FR{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 135px;
  top: 60px;
  cursor: pointer;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 16px;
  color: #000000;
  }

/* cover image */
.home-page-img{
  position: relative;
  top: 30px;
  width: 100%;
  height: 577px;
  z-index: -1;
  }

.rectangle-blue{
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  top: 650px;
  background: #25AAE1;
  z-index: -1;
  }

.welcome-message-en{
  position: absolute;
  width: 681px;
  height: 42px;
  left: 32px;
  top: 670px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.landing-notice-privacystmnt-en{
  position: absolute;
  width: 1000px;
  height: 30px;
  float: left;
  top: 744px;
  left: 32px;
  
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  display: inline;
  }

.videoButton-en{
  position: absolute;
  width: 190px;
  height: 30px;
  top: 744px;
  left:925px;
  cursor: pointer;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #D7DF21;
  }

.welcome-message-fr{
  position: absolute;
  width: 500px;
  height: 88px;
  left: 950px;
  top: 770px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

button.btn-get-started{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 16px;
  gap: 10px;

  position: absolute;
  width: 144px;
  height: 52px;
  top:800px;
  left: 32px;
  background: #D7DF21;
  color: #000000;
  border-radius: 15px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

button.btn-get-started:hover {
  background-color: #C4CE1E;
  color: black;
}

.landing-notice-privacystmnt-fr{
  position: absolute;
  width: 1200px;
  height: 90px;
  left: 470px;
  top: 820px;
  
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  }

.videoButton-fr{
  position: absolute;
  width: 123px;
  height: 30px;
  right: 520px;
  top: 820px;
  cursor: pointer;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #D7DF21;
  }

 .landingpage-notice-row{
    position: relative;
    top: 300px;
  }
.landing-notice-privacystmnt-english {
  position: relative;
  text-align: right;
  /*margin-left: 35%;*/
  width: 100%;
  height: auto;
  top: 0px;
  /* font-size: larger; */
  font-size: 20px;
  }
  .landing-notice-aboutus-english {
  position: relative;
  text-align: right;
  /*margin-left: 35%;*/
  width: 100%;
  height: auto;
  /* font-size: larger; */
  font-size: 20px;
  }
  .landing-notice-contactus-english {
    position: relative;
    text-align: right;
    margin-left: auto;
    /*margin-right: auto;*/
    width: 100%;
    height: auto;
    /* font-size: larger; */
    top: 0px;
    font-size: 20px;
    }
.landing-notice-privacystmnt-french {
  position: relative;
  text-align: right;
  margin-left: auto;
  /*margin-right: auto;*/
  width: 100%;
  height: auto;
  /* font-size: larger; */
  top: 820px;
  font-size: 20px;
  }
  .landing-notice-aboutus-french {
  position: relative;
  text-align: left;
  margin-left: auto;
  /*margin-right: auto;*/
  width: 100%;
  height: auto;
  /* font-size: larger; */
  top: 820px;
  font-size: 20px;
  }

/* .landing-trans {
position: relative;
text-align: center;
margin-top: 2vw;
margin-left: auto;
margin-right: auto;
width: 60%;
height: auto;
font-size: normal;
font-weight: bolder;
font-style: unset;
color: rgb(13, 194, 58);
} */

.landingpage-copyright{
  position: absolute;
  bottom: 200px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.landing-update {
position: relative;
text-align: center;
}
.landing-button{
position: relative;
text-align: center;
}

/* .landing-button-img{
width: 350px;
height: auto ;
border: 1px solid #fff;
border-radius: 15px;
overflow: hidden;
} */

/* .landing-button-img:hover{
background-color: #D3D3D3;
opacity: 0.9;
} */


/* Mobile Device */ /* Mobile Device */ /* Mobile Device */ /* Mobile Device */ /* Mobile Device */

@media only screen and (min-width:200px) and (max-width:450px){

.landing-page {
  position: absolute;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}  

.landing-logo {
  position: absolute;
  width: 87.5px;
  height: 71.25px;
  left: 16px;
  top: 13px;
}

.landing-button-img-fr{
  position: absolute;
  width: 102.5px;
  height: 22.5px;
  left: 90px;
  top: 29px;
  }
  
.landing-button-img-en{
  position: absolute;
  width: 97.5px;
  height: 20px;
  left: 91px;
  top: 52px;
  }

/* .landing-button-img{
  width: 280px;
  height: auto ;
  border: 1px solid #fff;
  border-radius: 15px;
  overflow: hidden;
} */



  /* .landing-button-EN::after {
    content: "";

    position: relative;
    right: 0px;
    border-right: 1px solid #25AAE1;
    height: 100%;
    top: -15px;
  } */
   
.home-page-img{
  position: absolute;
  width: 391px;
  height: 200px;
  left: 0px;
  top: 90px;
}

.rectangle-blue{
  position: absolute;
  width: 391px;
  height: 430px;
  left: 0px;
  top: 290px;
  
  background: #25AAE1;
}

.welcome-message-en{
  position: absolute;
  width: 343px;
  height: 88px;
  left: 24px;
  top: 300px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
}

.landing-notice-privacystmnt-en{
  position: absolute;
  width: 343px;
  height: 90px;
  left: 24px;
  top: 350px;
  
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #FFFFFF;
  }

.videoButton-en{
  position: absolute;
  width: 123px;
  height: 30px;
  left:130px;
  top: 410px;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #D7DF21;

  }

.welcome-message-fr{
  position: absolute;
  width: 343px;
  height: 88px;
  left: 24px;
  top: 500px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
}

.landing-notice-privacystmnt-fr{
  position: absolute;
  width: 343px;
  height: 90px;
  left: 24px;
  top: 550px; 
  
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #FFFFFF;
  }

.videoButton-fr{
  position: absolute;
  width: 123px;
  height: 30px;
  left: 185px;
  top: 610px;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #D7DF21;
  }

.landing-notice-privacystmnt-english {
  position: relative;
  text-align: right;
  /*margin-left: 35%;*/
  width: 100%;
  height: auto;
  top: 730px;
  font-size: larger;
  }
  .landing-notice-aboutus-english {
  position: relative;
  text-align: right;
  /*margin-left: 35%;*/
  width: 100%;
  height: auto;
  font-size: larger;
  top: 730px;
  }

.landing-notice-privacystmnt-french {
  position: relative;
  text-align: right;
  margin-left: auto;
  /*margin-right: auto;*/
  width: 100%;
  height: auto;
  font-size: larger;
  top: 730px;
  }
  .landing-notice-aboutus-french {
  position: relative;
  text-align: left;
  margin-left: auto;
  /*margin-right: auto;*/
  width: 100%;
  height: auto;
  font-size: larger;
  top: 730px;
  }

.homescreen-eng{
  position: relative;
  width: 100%;
  height: auto;
  font-size: larger;
  top: 398.5px;
  left: 144px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #0286bf;
  }

#homescreen-english{
  width: 100%;
  height: auto;
  font-size: 15px;
  }

.homescreen-button-english{
  width: 100%;
  text-align: right;
  }

.landing-button-EN{
  position: absolute;
  width: 100px;
  height: auto;
  left: 80px;
  top: 460.5px;
  cursor: pointer;
  
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.5px;
  /* identical to box height */
  color: #0286bf;
  z-index: +1;
  }

.homescreen-fre{
  position: relative;
  width: 100%;
  height: auto;
  font-size: larger;
  top: 597.5px;
  left: 40px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #0286bf;
  }
#homescreen-french{
  width: 100%;
  height: auto;
  font-size: 15px;
  }

  .landing-button-FR{
    position: absolute;
    width: 100px;
    height: auto;
    left: 80px;
    top: 660px;
    cursor: pointer;
    
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    /* identical to box height */
    color: #0286bf;
    z-index: +1;
  }
  
/* .landing-notice-privacystmnt {
  position: relative;
  font-size: 10px!important;
  margin: 10px auto;
  text-align: center;
  height: auto;
  width: 80%;
} */

.landing-update {
  position: relative;
  text-align: center;
  /*margin-top: 2vw;*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  word-wrap:break-word; 
  word-break: normal; 
  overflow: hidden;
  font-size: 14px!important;
  font-weight: bolder;
  font-style: unset;
  color: crimson;
  top: 700px;
}

}

.landing-update {
position: relative;
text-align: center;
margin-top: 2vw;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
word-wrap:break-word; 
word-break: normal; 
overflow: hidden;
font-size: large;
font-weight: bolder;
font-style: unset;
color: crimson;
}

.landingpage-notice-column {
  float: left;
  
}
.landingpage-notice-column > div {
  padding: 0 10px;
}

/* Clear floats after the columns */
.landingpage-notice-row:after {
  content: "";
  display: table;
  clear: both;
}

/* .landing-notice-privacystmnt{
position: relative;
margin: 10px auto;
text-align: center;
width: 80%;
height: auto;
font-size: larger;
} */


/* @media (max-width: 375px){
.homescreen-button-english {
  text-align: right;
  }
} */
@media (min-width: 376px){
.homescreen-button-english {
  text-align: right;
  }
}
.homescreen-button-french{
text-align: left;
}
.closeButton{
text-align: right;
}  



.landingpage-notice-column a{
display: inline-block;
font-size: larger;
}

.slash{
position: absolute;
margin-top: 0;
top: 9px;
color: #363636;
cursor: text;
margin:0 5px;
}

.slash:hover{
text-decoration: none;
color: #363636;
}

.landing-notice-english{
/* width: 60px; */
text-align: center;
}


.landing-notice-french{
/* width: 95px; */
text-align: center;
}

.instructionimg{
width: 100%;
height: 80%;
margin: 5px;
}

.Diacontent{
background-color:#D3D3D3
}
.nowrap{white-space:nowrap;}

@media (max-width: 400px){
  .landing-notice-french.privacyFr {
    width: 90px;
  }
}
@media only screen and (min-width:401px) and (max-width:420px){
  .landing-notice-french.privacyFr {
    width: 102px;
  }
}

