.landing-logo {
  position: relative;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: hidden;
  width: 35vmax;
}

.landing-page {
  position: relative;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.landing-trans {
position: relative;
text-align: center;
margin-top: 2vw;
margin-left: auto;
margin-right: auto;
width: 60%;
height: auto;
font-size: normal;
font-weight: bolder;
font-style: unset;
color: rgb(13, 194, 58);
}

.landing-update {
position: relative;
text-align: center;
}
.landing-button{
position: relative;
text-align: center;
}

.landing-button-img{
width: 350px;
height: auto ;
border: 1px solid #fff;
border-radius: 15px;
overflow: hidden;
}

.landing-button-img:hover{
background-color: #D3D3D3;
opacity: 0.9;
}

@media only screen and (min-width:200px) and (max-width:450px){
.landing-button-img{
  width: 280px;
  height: auto ;
  border: 1px solid #fff;
  border-radius: 15px;
  overflow: hidden;
}
.landing-notice-privacystmnt {
  position: relative;
  font-size: 10px!important;
  margin: 10px auto;
  text-align: center;
  height: auto;
  width: 80%;
}
.landing-update {
  position: relative;
  text-align: center;
  /*margin-top: 2vw;*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  word-wrap:break-word; 
  word-break: normal; 
  overflow: hidden;
  font-size: 14px!important;
  font-weight: bolder;
  font-style: unset;
  color: crimson;
}

}

.landing-update {
position: relative;
text-align: center;
margin-top: 2vw;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
word-wrap:break-word; 
word-break: normal; 
overflow: hidden;
font-size: large;
font-weight: bolder;
font-style: unset;
color: crimson;
}

.landingpage-notice-column {
  float: left;
  
}
.landingpage-notice-column > div {
  padding: 0 10px;
}

/* Clear floats after the columns */
.landingpage-notice-row:after {
  content: "";
  display: table;
  clear: both;
}

.landing-notice-privacystmnt{
position: relative;
margin: 10px auto;
text-align: center;
width: 80%;
height: auto;
font-size: larger;
}

@media (max-width: 375px){
.homescreen-button-english {
  text-align: right;
  }
}
@media (min-width: 376px){
.homescreen-button-english {
  text-align: right;
  }
}
.homescreen-button-french{
text-align: left;
}
.closeButton{
text-align: right;
}  

.landing-notice-privacystmnt-english {
position: relative;
text-align: right;
/*margin-left: 35%;*/
width: 100%;
height: auto;
/* font-size: larger; */
}
.landing-notice-aboutus-english {
position: relative;
text-align: right;
/*margin-left: 35%;*/
width: 100%;
height: auto;
/* font-size: larger; */
}

.landingpage-notice-column a{
display: inline-block;
font-size: larger;
}

.slash{
position: absolute;
margin-top: 0;
top: 0px;
color: #363636;
cursor: text;
margin:0 5px;
}

.slash:hover{
text-decoration: none;
color: #363636;
}

.landing-notice-english{
/* width: 60px; */
text-align: center;
}

.landing-french-router{
  position: absolute;
  right: 60px;
  font-weight: 400;
}
@media only screen and (max-width:500px){
  .landing-french-router {
    position: absolute;
    right: 15px;
    font-weight: 400;
  }
}

.landing-english-router{
  position: absolute;
  right: 60px;
  font-weight: 400;
}
@media only screen and (max-width:500px){
  .landing-english-router {
    position: absolute;
    right: 15px;
    font-weight: 400;
  }
}

.landing-notice-privacystmnt-french {
position: relative;
text-align: right;
margin-left: auto;
/*margin-right: auto;*/
width: 100%;
height: auto;
/* font-size: larger; */
}
.landing-notice-aboutus-french {
position: relative;
text-align: left;
margin-left: auto;
/*margin-right: auto;*/
width: 100%;
height: auto;
/* font-size: larger; */
}
.landing-notice-french{
/* width: 95px; */
text-align: center;
}

.homescreen-eng{
position: relative;
width: 100%;
height: auto;
font-size: larger;
}
#homescreen-english{
width: 100%;
height: auto;
font-size: 10px;
}
.homescreen-button-english{
width: 100%;
text-align: right;
}
.homescreen-fre{
position: relative;
text-align: left;
width: 100%;
height: auto;
font-size: larger;
}
#homescreen-french{
font-size: 10px;
width: 100%;
height: auto;
}

.instructionimg{
width: 100%;
height: 80%;
margin: 5px;
}

.Diacontent{
background-color:#D3D3D3
}
.nowrap{white-space:nowrap;}

@media (max-width: 400px){
  .landing-notice-french.privacyFr {
    width: 90px;
  }
}
@media only screen and (min-width:401px) and (max-width:420px){
  .landing-notice-french.privacyFr {
    width: 102px;
  }
}

